<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Story 2</title>
	<style>
		a { color:blue;
		text-decoration:none; text-align:
		}
		li { color: green;
		}
		.wild { color: black;}
	</style>
</head>
<body>
<h1>My story </h1>
hello. this is my first <strong> wonderful </strong> course.<br><br> <u>no</u> way out.<br>
<p style="margin-top:45px;">Another paragraph notation is like this.</p>
<img src="C:\Users\joons\Dog3.jpg" width="30%">
<ol>
    <li>Dog</li>
    <li>Cat</li>
    <li class="wild">Pig</li>
    <li class="wild">Lion</li>
</ol>
<p>Why are u so nervous about your job.</p>
<p><a href="https://www.w3.org/TR/html5/" target="_blank" title="html5 specification"> Hypertext Markup Language (HTML)</a>
    is the standard markup language</p>
<table>
	<thead>
		<tr>
			<th>동물</th>
			<th>특징</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dog</td>
			<td>Cutty</td>
		</tr>
		<tr>
			<td>Cat</td>
			<td>Shy</td>
		</tr>
		<tr>
			<td>Lion</td>
			<td>Cool</td>
		</tr>
	</tbody>
</table>
<!--
<table>
	<tr>
		<td colspan="2">통합열</td>
	</tr>
	<tr>
		<td>왼쪽</td>
		<td>오른쪽</td>
	</tr>
</table>
<table>
	<tr>
		<td rowspan="2">왼쪽열</td>
      	<td>Record 1</td>
	</tr>
	<tr>
		<td>Record 2</td>
	</tr>
</table>
-->
</body>
</html>