{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <link href="{% static 'sidebars.css' %}" rel="stylesheet">
    <title>{% block title %}Books{% endblock %}</title>
</head>

<body>
<div class="row">
  <div class="flex-shrink-0 p-3 col-md-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Home
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Orders
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>

  <div class="row col-md-9">
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="First" aria-label="First">
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="2nd" aria-label="Last name">
  </div>
     <div class="col-md-3">
    <input type="text" class="form-control" placeholder="3rd" aria-label="Test item">
  </div>
     <div class="col-md-3">
    <input type="text" class="form-control" placeholder="4th" aria-label="4th">
  </div>
  </div>
</div>
      <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">2</label>
</div>



    <div id="sidebar">

        <ul>
            <li><a href="/books/">Book's Home</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>

        <br>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
<!-- Bootstrap JS -->
<!--<script src="{% static 'bootstrap.min.js' %}"></script>-->
      <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'sidebars.js' %}"></script>

<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
